/* Page wide css */

html,
body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}

/* Hidden elements css */
#hiddenElements {
  display: none;
  /* margin: ; */
}

/* Header */
header {
  display: inline-flex;
}
/* .header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}
.header {
  background-color: #999;
} */

/* sidebar */
#sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
}
.sideBarItem {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

.sideBarItem img {
  max-height: 50px;
  max-width: 50px;
}
.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}
/* drawfield css */
#drawField {
  grid-area: drawField;
}

/* footer */

.footer {
  grid-area: footer;
}

.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.options {
  grid-area: options;
  padding: 15px;
}

.colourSwatches {
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  margin: 5px;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 74px 230px minmax(200px, 1fr);
  grid-template-rows: 0px minmax(200px, 1fr) 160px;
  grid-template-areas:
    "header header header"
    "sidebar drawField drawField"
    "colourP colourP options";
  background-color: #fff;
  color: #444;
}
