/* Page wide css */

html,
body {
  margin: 0px;
  height: 100% ;
  box-sizing: border-box;
  text-align: center;
}

/* Hidden elements css */
#hiddenElements {
  display: none;
  /* margin: ; */
}

/* Header */
/* header {
  
} */
#header{
	grid-area: header;
	display: inline-flex;
	
	align-self: stretch;
	text-align: center;
}

/* .header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}
.header {
  background-color: #999;
} */ 

/* sidebar */
#sidebar {
  grid-area: sidebar;
  overflow-y: hidden;

}
#sidebarLeft{
	grid-area: sidebarLeft;
	overflow: auto;
	height: 100%;
	align-items: none;
}
#sidebarRight{
	grid-area: sidebarRight;
	height: 100%;
	overflow: auto;
	align-items: stretch;
}
.sideBarItem {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

.sideBarItem img {
  max-height: 50px;
  max-width: 50px;
}
.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}
/* drawfield css */
#drawField {
  grid-area: drawField;
  /* z-index: 20; */
}

/* footer */

.footer {
  grid-area: footer;
}


/* Color and optons CSS */
.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.options {
  grid-area: options;
  padding: 15px;
  text-align: left;
}

.colourSwatches {
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  margin: 5px;
}

/* slides */
.slide{
	width: 300;
	height: 1000;
	
	background-color: aquamarine;
	align-self: start;
	overflow: hidden;


}


/* Grid */

	.wrapper {
	display: grid;
	height: 100%;
	grid-template-columns:300px 65px minmax(200px, 1fr)  300px;
	grid-template-rows: auto minmax(200px, 1fr) 160px ;
	grid-template-areas:
		"header header header header"
		"sidebarLeft sidebar drawField sidebarRight"
		"colourP colourP  options options";
	background-color: #fff;
	color: #444;
	align-items: stretch;
	}

	/* .wrapper > div {
		
		text-align: center;
		
	  } */
